.wrap{
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: relative;
}

.wrap-title {
	position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 999;
    font-size: 50px;
    background-color: rgba(0,0,0,0.54);
    padding: 0.4em 1em;
}
